@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Sriracha&display=swap');

body {
  overflow-x: hidden;
}


@keyframes identifier {
  0%{
    margin-right: 50vw;
  }
  100%{
    margin-right: 0vw;
  }
}